html {
    background-color: rgb(2, 12, 24);
    text-align: center;
    color: white;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    color: white;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    min-height: 100%;
}

#app {
    height: 100vh;
    text-align: center;
}
